@model TranslationsWebApplication.Models.Order

@{
    ViewData["Title"] = "Details";
}

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');   

    .mochiy-pop-one-regular {
        font-family: "Mochiy Pop One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    h1, label, input, select, .btn, a {
        font-size: 20px;
    }

    h1 {
        font-size: 40px; 
    }

    input, select, .btn {
        height: 45px;
        padding: 10px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .row {
        margin-bottom: 25px;
    }

    .btn-create {
        background-color: #4A0D5B;
        color: white;
        border: none;
        transition: background-color 0.3s, color 0.3s; 
    }

    .btn-create:hover {
        background-color: gray;
        color: black; 
    }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
        background: url('../../css/ffonn5.jpg') no-repeat center center;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

    dt {
        color: white;
        font-size: 22px; 
    }

    dd {
        font-size: 20px; 
        color: black; 
    }
</style>


<h1 class="mochiy-pop-one-regular" style="color: #4A0D5B; font-size: 40px;">Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalLanguage.LanguageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginalLanguage.LanguageName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TranslationLanguage.LanguageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TranslationLanguage.LanguageName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type.TypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type.TypeName)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.TopicName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.TopicName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderScope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderScope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderSubmissionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderSubmissionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId" class="btn btn-create">Edit</a>
    <a asp-action="Index" class="btn btn-create">Back to List</a>
    <a asp-action="DownloadFile" asp-route-id="@Model.OrderId" class="btn btn-create">Download file</a>
    @if (Model.OrderStatus == OrderStatus.Offer)
    {
        <button class="btn btn-create" onclick="confirmTake(@Model.OrderId)">Take</button>
    }

</div>

@if (Model.OrderStatus == OrderStatus.InProgress)
{
    <div style="margin-top: 20px;">
        <button class="btn btn-create" onclick="location.href='@Url.Action("Submit", "Orders", new { id = Model.OrderId })'">Submit</button>
        <button class="btn btn-create" onclick="confirmCancel(@Model.OrderId)">Cancel</button>
    </div>
}


<script>
    function confirmTake(orderId) {
        var confirmed = confirm("Are you sure you want to start working on this order?");
        if (confirmed) {
            window.location.href = '/Orders/Respond/' + orderId;
        }
    }
</script>

<script>
    function confirmCancel(orderId) {
        var confirmed = confirm("Are you sure you want to cancel this order?");
        if (confirmed) {
            window.location.href = '/Orders/Cancel/' + orderId;
        }
    }
</script>
