@model IEnumerable<TranslationsWebApplication.Models.Type>

@{
    ViewData["Title"] = "Index";
}

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

    .mochiy-pop-one-regular {
        font-family: "Mochiy Pop One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tr:nth-child(odd) {
            background-color: #ffffff;
        }

        .table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4A0D5B;
            color: white;
        }

    .table {
        width: 80%;
        margin-right: 20%;
        border-collapse: collapse;
    }

    .action-link {
        color: black;
        text-decoration: none;
    }

        .action-link:hover {
            color: #A12F86;
        }


    .buttons-container {
        padding-top: 174px;
    }

    .btn-primary, .btn-secondary {
        background-color: white;
        color: #4A0D5B;
        border: 1px solid transparent;
    }

        .btn-primary:hover, .btn-secondary:hover {
            background-color: #888787;
            color: white;
        }

        .btn-primary:hover, .btn-secondary:hover {
            color: white;
        }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
        background: url('ffonn2.jpg') no-repeat center center;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

</style>

<h1 class="mochiy-pop-one-regular" style="color: #4A0D5B;">Types List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" enctype="multipart/form-data">Add type</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="width: 60%;">
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th style="width: 40%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 60%;">
                    @Html.DisplayFor(modelItem => item.TypeName)
                </td>
                <td style="width: 40%;">
                    <a asp-action="Edit" asp-route-id="@item.TypeId" class="action-link">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.TypeId" class="action-link">View</a>
                    <a asp-action="Delete" asp-route-id="@item.TypeId" class="action-link">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Переміщення діаграми тут -->
<div id="orderTypeDistributionChart"></div>

@section Scripts
    {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawOrderTypeDistributionChart);

        function drawOrderTypeDistributionChart() {
            fetch('/api/diagram2/orderTypeDistribution')
                .then(response => response.json())
                .then(data => {
                    const dataTable = new google.visualization.DataTable();
                    dataTable.addColumn('string', 'Тип');
                    dataTable.addColumn('number', 'Кількість');
                    data.forEach(item => {
                        dataTable.addRow([item.typeName, item.count]);
                    });

                    const options = {
                        title: 'Розподіл замовлень за типами',
                        width: 600,
                        height: 400,
                        backgroundColor: 'transparent', 
                        colors: ['#FF6384', '#36A2EB', '#EBCE36', 'EB3636']
                    };

                    const chart = new google.visualization.PieChart(document.getElementById('orderTypeDistributionChart'));
                    chart.draw(dataTable, options);
                });
        }
    </script>
}
