@model IEnumerable<TranslationsWebApplication.Models.Language>

@{
    ViewData["Title"] = "Index";
}

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

    .mochiy-pop-one-regular {
        font-family: "Mochiy Pop One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tr:nth-child(odd) {
            background-color: #ffffff;
        }

        .table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4A0D5B;
            color: white;
        }

    .table {
        width: 80%;
        margin-right: 20%;
        border-collapse: collapse;
    }

    .action-link {
        color: black;
        text-decoration: none;
    }

        .action-link:hover {
            color: #A12F86;
        }


    .buttons-container {
        padding-top: 174px;
    }

    .btn-primary, .btn-secondary {
        background-color: white;
        color: #4A0D5B;
        border: 1px solid transparent;
    }

        .btn-primary:hover, .btn-secondary:hover {
            background-color: #888787;
            color: white;
        }

        .btn-primary:hover, .btn-secondary:hover {
            color: white;
        }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
        background: url('ffonn2.jpg') no-repeat center center;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

</style>

<h1 class="mochiy-pop-one-regular" style="color: #4A0D5B;">Languages List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" enctype="multipart/form-data">Add language</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th style="width: 60%;">
                @Html.DisplayNameFor(model => model.LanguageName)
            </th>
            <th style="width: 40%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 60%;">
                    @Html.DisplayFor(modelItem => item.LanguageName)
                </td>
                <td style="width: 40%;">
                    <a asp-action="Edit" asp-route-id="@item.LanguageId" class="action-link">Edit</a>
                    <a asp-action="DetailsOriginal" asp-route-id="@item.LanguageId" class="action-link">View Original</a>
                    <a asp-action="DetailsTranslation" asp-route-id="@item.LanguageId" class="action-link">View Translation</a>
                    <a asp-action="Delete" asp-route-id="@item.LanguageId" class="action-link">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="languageTranslationStatsChart"></canvas>
</div>

<div class="row">
    <div class="col-12">
        @using (Html.BeginForm("Import", "Languages", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="mb-3">
                <label for="langsFile" class="form-label">Оберіть файл для завантаження</label>
                <input type="file" name="langsFile" id="langsFile" />
            </div>
            <div>
                <input class="btn btn-primary mb-3" type="submit" value="Завантажити" id="uploadBtn" disabled />
            </div>
        }

        @using (Html.BeginForm("Export", "Languages", FormMethod.Get))
        {
            <div>
                <input class="btn btn-primary mb-3" type="submit" value="Експортувати" />
            </div>
        }
    </div>
</div>

<script>
    fetch('/api/Diagram1/languageTranslationStats')
        .then(response => response.json())
        .then(data => {
            var ctx = document.getElementById('languageTranslationStatsChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.map(item => item.language),
                    datasets: [{
                        label: 'Translations To',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: data.map(item => item.translationsTo)
                    }, {
                        label: 'Translations From',
                        backgroundColor: 'rgb(54, 162, 235)',
                        borderColor: 'rgb(54, 162, 235)',
                        data: data.map(item => item.translationsFrom)
                    }]
                },
                options: {
                    scales: {
                        x: {
                            ticks: {
                                color: 'black'
                            },
                            grid: {
                                color: 'black',
                                drawBorder: true
                            }
                        },
                        y: {
                            ticks: {
                                color: 'black'
                            },
                            grid: {
                                color: 'black',
                                drawBorder: true
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                color: 'black'
                            }
                        }
                    }
                }
            });
        });
</script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var fileInput = document.getElementById('langsFile');
        var uploadBtn = document.getElementById('uploadBtn');

        fileInput.addEventListener('change', function () {
            if (fileInput.value) {
                uploadBtn.disabled = false;
            } else {
                uploadBtn.disabled = true;
            }
        });
    });
</script>